{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
    <!--Typed effect-->
    <div class="block-position">
        <h1 class="text-light  typed-text"><b style="font-size: 75px;">#></b>
            <b><span id="element" style="color: #1a047c; border: 1px solid #eeecee;"></span></b>
        </h1>
    </div>

    <!-- Message -->
    <div>
        <button style="background-color: #1a047c" class="btn text-light pulse" data-bs-toggle="modal" data-bs-target="#messageModal">
            <i class=" fas fa-envelope fa-2x"></i>
        </button>
    </div>
    
{% endblock content %}
