{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
    <!--Typed effect-->
    <div class="block-position">
        <h1 class="text-light  typed-text"><b style="font-size: 75px;">#></b>
            <b><span id="element" style="color: #1a047c; border: 1px solid #eeecee;"></span></b>
        </h1>
    </div>

    <!-- Message -->
    <div>
        <button style="background-color: #1a047c" class="btn text-light pulse" data-bs-toggle="modal" data-bs-target="#messageModal">
            <i class=" fas fa-envelope fa-2x"></i>
        </button>
    </div>

    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div style="background-color: rgb(126, 118, 161);" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fas fa-envelope"></i>&nbsp;&nbsp; Message
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="#" autocomplete="off" class="was-validated" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="csrfmiddlewaretoken" value="nryojDjDA54JcK7tcTU32BSDZUIw1J5DFlJU2G7eZME8CBUMlJONdpbm22DEkSoS">
                    <div class="modal-body">
                        <div class="mb-1">
                            <input type="text" class="form-control" name="name" maxlength="40" placeholder="Name" required>
                        </div>
                        <div class="mb-1">
                            <input type="text" class="form-control phone" name="phone" maxlength="40" placeholder="Phone" required>
                        </div>
                        <div class="mb-1">
                            <input type="email" class="form-control" name="email" maxlength="40" placeholder="Email" required>
                        </div>
                        <div class="mb-1">
                            <input type="text" class="form-control" name="subject" maxlength="100" placeholder="Subject" required>
                        </div>
                        <hr>
                        <div class="form-group mb-2">
                            <textarea name="message" id="message" class="form-control" rows="10" maxlength="1000" required placeholder="Your message..."></textarea>
                        </div>
                        <!-- Character remaining counter -->
                        <span id="remaining"></span>
                        <hr>
                        <div class="form-group mb-3">
                            <input class="form-control" type="file" name="file">
                        </div>
                        <h6 class="text-danger" style="font-size: 12px;">Note: for more than one file use:
                            <strong class="text-warning">rar </strong>or <strong class="text-warning">zip</strong>.
                        </h6>
                        <hr>
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn text-light" type="submit" style="background-color: rgb(64, 163, 163);">Send message &nbsp;&nbsp;
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Input Hidden (all message arrives as pending) -->
                    <input type="hidden" name="status" value="Pending">
                </form>            


                <div class="modal-footer">
                
                
                </div>
            </div>
        </div>
    </div>
{% endblock content %}