{% extends "base.html" %}
{% block title %}Inbox{% endblock title %}

{% block image %}{% endblock image %}

{% block typed %}{% endblock typed %}

{% block nav-content %}
    <i class="fas fa-envelope" style="color: #8abaae;"></i>&nbsp;&nbsp; <i><b><span>Inbox</span></b></i>
{% endblock nav-content %}

{% block datetime %}
    <div class="text-light" id="desk-datatime" style="font-size: 12px; margin-top: 5px;">{% now "l (m/d/Y)" %} &nbsp;
        <span style="color:#8abaae; font-weight: bold;" id="clock"></span>
    </div>
{% endblock datetime %}

{% block sidebar-content %}
    <center>
        <!-- Welcome User -->
        Welcome: <span class="text-success">{{user.get_username}}</span>
        <br><br>
    </center>
    <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
    <a href="{% url 'admin:index' %}" target="_blank" class="btn btn-outline-success btn-sm">Admin</a>
{% endblock sidebar-content %}

{% block content %}
    <div class="container-fluid mt-3 pad" style="width: 90%; "></div>
        <!-- Dashboard -->
        <div class="hide">
            {% include "dashboard/dashboard.html" %}
        </div>
        <br>

        <!-- Global Search -->
        <form class="hide">
            <div class="input-group input-group-sm mb-3">
                <input type="text" name="q" class="form-control" placeholder="Search for..." value="{{ request.GET.q }}">
                <button class="btn btn-secondary" title="Search"><i class="fas fa-search"></i></button>
                <a href="{% url 'inbox' %}" class="btn btn-dark" style="margin-left: 2px;" title="Refresh"><i class="fas fa-sync-alt"></i></a>
            </div>
        </form>

        <!-- Table of messages -->
        <div class="col-lg-12 hide">
            <div style="margin-top: 5px;">
                <table class="table tabl-sm">
                    <thead class="table-success">
                        <tr>
                            <th style="width: 18%;">Name</th>
                            <th style="width: 13%;">Phone</th>
                            <th style="width: 18%;">Email</th>
                            <th style="width: 18%;">Subject</th>
                            <th style="width: 15%;">Received On</th>
                            <th style="width: 10%;">Status</th>
                            <th style="width: 8%; text-align: center;" colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <!-- Data from backend -->
                    {% for client in clients %}
                    <tr id="chk_td">
                        <td>{{client.name}}</td>
                        <td>{{client.phone}}</td>
                        <td>{{client.email}}</td>
                        <td>{{client.subject}}</td>
                        <td>{{client.create_at | date:'m/d/y (H:i)'}}</td>
                        {% if client.status == 'Pending' %}
                        <td class="text-danger">{{client.status}}</td>
                        {%else%}
                        <td>{{client.status}}</td>
                        {% endif %}
                        <td>
                            <button class="btn btn-sm btn-secondary btn-danger" title="Delete Message" data-bs-toggle="modal" data-bs-target="#deleteModal{{ client.pk }}">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </td>
                        <td>
                            <a href="#" class="btn btn-sm text-light btn-action btn-success " title="Read Message">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </td>
                    </tr>

                    <!-- Modal delete configuration -->
                    {% include "modals/delete.html" %}

                    {% endfor %}
                </table>
            </div>
        </div>
        <!-- Pagination -->
        <nav>
            {% if clients.has_other_pages %}
            <ul class="pagination">
                {% if clients.has_previous %}
                <a href="?page=1" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3d3; border-left:none">First</a>
                <li class="page-item"><a href="?page={{clients.previous_page_number}}"><i class="fas fa-angle-double-left"></i></a></li>
                {%else%}
                <li class="page-item disabled"></li>
                {% endif %}

                {% for i in clients.paginator.page_range %}
                    {% if clients.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                    {%else%}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if clients.has_next %}
                <li class="page-item"><a href="?page={{clients.next_page_number}}"><i class="fas fa-angle-double-right"></i></a></li>
                <a href="?page={{ clients.paginator.num_pages}}" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3d3; border-left:none">Last</a>
                {%else%}
                <li class="page-item disabled"></li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
    </div>

    <!-- If no messages, show this content -->
    <span class="text-danger" id="msg"></span>
    <a href="{% url 'inbox' %}" id="refresh"></a>
{% endblock content %}