{% extends "base.html" %}
{% block title %}Inbox{% endblock title %}

{% block image %}{% endblock image %}

{% block typed %}{% endblock typed %}

{% block nav-content %}
    <i class="fas fa-envelope" style="color: #8abaae;"></i>&nbsp;&nbsp; <i><b><span>Inbox</span></b></i>
{% endblock nav-content %}

{% block sidebar-content %}
    <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm">Logout</a>
    <a href="{% url 'inbox' %}" class="btn btn-outline-success btn-sm">Admin</a>
{% endblock sidebar-content %}

{% block content %}
  
{% endblock content %}