{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block sidebar-content %}
    <a href="{% url 'home' %}" class="btn btn-outline-primary btn-sm">Home</a>
{% endblock sidebar-content %}

{% block content %}
<div class="container mt-5" id="card-login">
    <div class="card p-3 login-border">
        <span class="text-center mt-3 text-pulse"><strong>RESTRICTED ACCESS</strong></span>
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="input-group mb-2 mt-4">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="input-group mb-2">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" style="float: right;">
            </div>
            <div class="d-grid gap-2">
                <input class="btn btn-success btn-sm mt-3" type="submit" value="Enter" id="btn-enter">
            </div>
        </form>
        <center class="mt-5 mb-5">
            <img src="/static/Wuyi/img/logo.png" style="width: 150px;height: 85px;" class="align-middle" alt="logo">
        </center>
    </div>
</div>
{% endblock content %}